body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-image: url("image/background.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Segoe UI";
    color: white; 
    min-height: 100%;
    margin: 0;
}
header{
    align-self: center;
} 
#icon{
    max-width: 100%;
}
#screen1 {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.35em;
    font-weight: bold;
    font-size: xx-large;
    min-height: 60vh;  
}
#buttonsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
#filterByAge{
    justify-content: center;
}

.question {
    display: flex;
    justify-content: center;
    text-align: center;
}
.buttons {
    width: 15%;
    border-radius: 5px;
    border-width: 3px;
    border-color: #9EFB07;
    color: #9EFB07;
    font-weight: bolder;
    text-shadow: 0 0 3px #365503;
    background-color: #08B2C9;
    letter-spacing: 0.25em;
    font-family: "Segoe UI";
    font-size: large;
}
/* screen2 */
#screen2{
    min-height: 60vh;
    
}
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.35em;
}
#welcomeText {
    font-size: xxx-large;   
}
#information {
    font-size: x-large;
}
/* -- search by name --*/
#messageError {
    display: flex;
    justify-content: center;
    color: #9EFB07;
    font-weight: bolder;
    letter-spacing: 0.25em;
}
#formByName {
    display: flex;
    justify-content: center;
    min-width: 100%;
    gap: 1%;
}
#searchByName {
    background-color: #057f8f;
    border-radius: 5px;
    border-color: #9EFB07;
    color: white;
    font-weight: bolder;
    height: 40px;
    font-size: large;
    letter-spacing: 0.25em;
}
#goName {
    background-color: #08B2C9;
    height: 46px;
    color: #9EFB07;
    font-weight: bolder;
    font-size: large;
    letter-spacing: 0.25em;
    border-color: #9EFB07;
    border-radius: 5px;
}
/* -- selectors--*/
#allSelectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;
    letter-spacing: 0.25em;
    font-size: large;
    gap: 1%;

}
.selectorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    flex-grow: 1;

}
.selectors {
    background-color:#057f8f;
    border-color: #9EFB07;
    color: white;
    border-radius: 5px;
    height: 40px;
    font-size: medium;
    align-self: stretch;
}
/* list and card */
#listAsSelected {
    margin: 50px 40%;
}
#screenCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#closed {
    background: #08B2C9;
    border: #9EFB07 solid 3px;
    border-radius: 3px;
}
#closeList {
    margin: 10% 40%;
    background: #08B2C9;
    border: #9EFB07 solid 3px;
    border-radius: 3px;
}
/* -- footer --*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#linkGame {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bolder;
    text-shadow: 0 0 3px #9EFB07;
    text-decoration: underline;
    letter-spacing: 0.15em;
}
#socialMedia {
    display: flex;
}
#socialMedia img {
    display: flex;
    flex-direction: row;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
#facebook {
    max-width: 35px;
    margin: 0 0 3px 0;
}
#cardCharacter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
